a {
	border:1px ridge #ccc;
	color:DarkOrange;
	background: #FFEFD5;
	border:1px solid DarkOrange;
	border-radius: 5px;
	border-style: outset;
	text-decoration:none;
	font-size:120%;
	
}

span{
	border:1px ridge #ccc;
	color:black;
	border-style: outset;
	border-radius: 5px;
}